<ion-content id=outer>
  <div class="warning">
    <!-- <div id=inner> -->
    <div class="logo">
      <img src="assets/imgs/icon.png">
    </div>
    <form [formGroup]="loginForm">
     
      <div class="temp">
        <ion-item style="background-color: transparent; padding-left: 0px;" class="logitem">
          <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"
            class="text-input">
          </ion-input>
        </ion-item>
      </div>
      <ion-item class="logitem1"
        *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p style="padding-left: 8px;">{{'username required!' | translate}}</p>
      </ion-item>
      <div class="temp">
        <ion-item style="background-color: transparent; padding-left: 0px;" class="logitem">
          <ion-input formControlName="password" *ngIf="!showPassword" type="password"
            placeholder="{{'Password*' | translate}}" class="text-input"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text"
            placeholder="{{'Password*' | translate}}" class="text-input"></ion-input>

          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="light"></ion-icon>
            <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="light"></ion-icon>
          </button>
        </ion-item>
      </div>
      <ion-item class="logitem1"
        *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p style="padding-left: 8px;">{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <button ion-button class="btnLog" color="gpsc" (tap)="userlogin()">{{'SIGN IN' | translate}}</button>
    </div>
  </div>
</ion-content>