<!-- new payment wallet code  -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Recharge Method" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid *ngIf="this.islogin.isSuperAdmin == false" text-center>
    <ion-row>
      <ion-col>
        You have selected these vehicles for Recharge:
        <span style="display: flex;padding: 0px 18px;">
          <p *ngFor="let n of device_name">{{n.Device_Name}}/</p>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let r of rechargeData; let i = index"
            style="display: flex;flex-direction: row;padding: 7px 20px;">
    <ion-list [(ngModel)]="ingnitionStat"
              radio-group
              style="width: 20%;justify-content: center; margin: 20px 0px;">
      <ion-radio (click)="onItemChange(r.Amount,r.Duration_days)"
                 [value]="r.Name"
                 slot="start">
      </ion-radio>
    </ion-list>

    <ion-grid style="width: 100%; word-spacing: 2px;">
      <p style="margin: 0px; font-weight: bold;">{{r.Name}}</p>
      <p style="margin: 0px;">
        Recharge your device and platform for {{r.Duration_days}} days
      </p>
    </ion-grid>
    <ion-grid style="width: 20%;">
      <p style="font-weight: bold;">{{r.Amount}}</p>
    </ion-grid>
  </ion-grid>
  <ion-grid *ngIf="rechargeData.length > 0">
    <p style="margin-left: 79%;font-weight: bold;">
      ={{device_name.length}}*{{total}}
    </p>
    <p style="margin-left: 53%;font-weight: bold;font-size: 16px;color: #00f5f5;">
      Total Payable = {{device_name.length*total}}
    </p>
  </ion-grid>
  <ion-grid>
    <button (click)="payWithRazor()"
            ion-button
            style="color: white;background-color: black;padding: 12px;text-align: center;">
      > Pay with RazorPay {{device_name.length*total}}
    </button>
  </ion-grid>
</ion-content>
