page-contact-us {

  .myClass{
    background-color: rgb(233, 182, 16)
  }

  .myClass2{
    background-color: rgb(238, 100, 69)
  }

  .myClass3{
    background-color: rgb(132, 231, 45)
  }
    .logitem {
        background-color: transparent;
        padding-bottom: 5px;

    }
    .logitem1 {
        background-color: transparent;

        p {
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }
    .form {
        // width:400px;
        // height:500px;
        height: auto;
        border-radius:8px;
        // box-shadow:0 0 40px -10px #000;
        margin: 30px auto 10px auto;
        padding:20px 30px;
        // max-width:calc(100vw - 40px);
        box-sizing:border-box;
        position:relative
    }

    input, textarea {
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        // font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2;
    }
    ::placeholder {
        color: rgb(221, 214, 214);
        // opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(221, 214, 214);
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(221, 214, 214);
    }
    input:focus {
        border-bottom:2px solid #78788c
    }
    .para:before {
        content:attr(type);
        display:block;
        margin:28px 0 0;
        font-size:14px;
        color:#5a5a5a
    }
    .buttonclass {
        width: 100%;
        float:right;
        padding:8px 12px;
        margin:8px 0 0;
        // font-family:'Montserrat',sans-serif;
        border:2px solid #78788c;
        background:0;
        color:#5a5a6e;
        font-size: 1.15em;
        cursor:pointer;
        transition:all .3s
    }
    .buttonclass:hover {
        background:#78788c;
        color:#fff
    }

    .span {
        // margin:0 5px 0 15px;
        margin: 0px;
        font-size: 11px;
        color: red;
    }
    .scroll-content {
        // overflow-y: hidden !important;
        margin-top: 0px !important;
    }

    .div {
        content:'Hi';
        position:absolute;
        bottom:-15px;
        right:-9px;
        background:#50505a;
        color:#fff;
        width:350px;
        padding:16px 4px 16px 0;
        border-radius:6px;
        font-size:13px;
        box-shadow:10px 10px 40px -14px #000
    }
    // ion-icon {
    //     margin:0 5px 0 15px
    // }

}
