
    <div padding style="background: white;height: auto; width: 90%; margin: auto; border-radius: 5px;">
        <ion-row>
          <ion-col col-12>
            <p style="text-align: center; font-size: 2rem;">
              <b>{{'Contacts' | translate}}</b>
             &nbsp;&nbsp;&nbsp; <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
            </p>
          </ion-col>
        </ion-row>

        <ion-list>
            <ion-list-header>
                Support
              </ion-list-header>
            <ion-item *ngFor="let sup of supportArray" (click)="call_num(sup)">
              <ion-icon name="call" item-start></ion-icon>
                {{sup}}
            </ion-item>
            
            <ion-list-header>
                Sales & Services
            </ion-list-header>
            <ion-item *ngFor="let item of serviceArray" (click)="call_num(item)">
              <ion-icon name="call" item-start></ion-icon>
              {{item}}
            </ion-item>
          </ion-list>
      </div>
    