<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Message Utility" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <span>SEND TO *:</span>&nbsp;&nbsp;&nbsp;
  <input type="radio" id="male" name="gender" value="male" [checked]="cond" (tap)="getmodel(DealerArraySearch)">
  <label for="male" (tap)="getmodel(DealerArraySearch)">Dealers</label><br>
  <input type="radio" id="female" name="gender" value="female" style="margin-left: 83px;" [checked]="cond" (tap)="getmodel(CustomerArraySearch)">
  <label for="female" (tap)="getmodel(CustomerArraySearch)">Direct Customer</label><br>
  <input type="radio" id="other" name="gender" value="other" [(ngModel)]="model" style="margin-left: 83px;">
  <label for="other">Dealer's Customer</label>

  <div *ngIf="model === 'other'">
    <ion-item style="padding: 0px;">
      <ion-label style="margin-top: 15px;">{{'Select Dealers' | translate}}</ion-label>
      <select-searchable item-content [(ngModel)]="dealer_firstname" [items]="selectDealer"
      itemValueField="dealer_firstname" itemTextField="dealer_firstname" [canSearch]="true"
      (onChange)="dealerOnChnage(dealer_firstname)" style="padding: 0px;margin-top: -1%;">
  </select-searchable>
      <!-- <ion-select formControlName="dealer_firstname" style="min-width:49%;">
          <ion-option *ngFor="let dealer of selectDealer" [value]="dealer.dealer_firstname"
              (ionSelect)="dealerOnChnage(dealer)">{{dealer.dealer_firstname | titlecase}}
              {{dealer.dealer_lastname | titlecase}}</ion-option>
      </ion-select> -->

  </ion-item>
  </div>

  <div *ngIf="model !== 'other'">

  </div>

    <textarea [(ngModel)]="titleMsg" placeholder="Enter the title of the message" style="height: 55px;width: 100%;margin-top: 20px;">

    </textarea>



    <textarea [(ngModel)]="fullMsg" placeholder="Enter the full message here" style="height: 255px;width: 100%;margin-top: 20px;">

    </textarea>


  <!-- <button (click)="sendmsg()" style="margin-left: 122px;
  /* padding: 20px; */
  padding: inherit;
  margin-top: 19px"> Send </button> -->

<ion-footer class="footSty">
  <ion-toolbar>
      <ion-row no-padding>
          <ion-col width-50 style="text-align: center;">
              <button ion-button clear color="light" (click)="sendmsg()"> SEND </button>
          </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>

  <!-- <form [formGroup]="msgForm">
    <ion-item>
      <ion-label floating>{{'Enter Title' | translate}}</ion-label>
      <ion-input [formControl]="msgForm.controls['title']" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'Message' | translate}}</ion-label>
      <ion-input [formControl]="msgForm.controls['msg']" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <button ion-button block color="gpsc" (click)="onSignIn()">
          {{' Update Account' | translate}}
        </button>
      </ion-col>
    </ion-row>

  </form> -->
</ion-content>
