<ion-header>
  <ion-navbar>
    <button *ngIf="showMenuBtn" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-buttons start *ngIf="shwBckBtn">
      <button ion-button small (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-buttons> -->
    <ion-title>Map View</ion-title>
    <!-- <ion-buttons end *ngIf="showBtn">
      <button ion-button (click)="ionViewDidEnter()">
        {{ "All Vehicles" | translate }}
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <!-- <ion-item>
    <ion-label>{{ "Select Vehicle" | translate }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="temp(selectedVehicle)">
    </select-searchable>
  </ion-item> -->
</ion-header>

<ion-content style="background-color: #f2f1f0" *ngIf='!hideMe'>

  <div id="map_canvas">

    <ion-fab top left>
      <button ion-fab color="light" mini>
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>

    <!-- <ion-fab top right>
      <button color="gpsc" mini ion-fab (click)="onSelectMapOption('mapHideTraffic')">
        <img src="assets/icon/trafficON.png" *ngIf="mapHideTraffic" />
        <img src="assets/icon/trafficOFF.png" *ngIf="!mapHideTraffic" />
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 20%">
      <button ion-fab mini (click)="onSelectMapOption('showGeofence')" color="gpsc">
        <img src="assets/imgs/geo.png" />
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 33%">
      <button ion-fab mini (click)="getPOIs()" color="gpsc">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab *ngIf="!isSuperAdmin || !isDealer" style="right: calc(10px + env(safe-area-inset-right)); margin-top: 33%">
      <button ion-fab mini (click)="showCluster()" [ngStyle]="{'background-color': streetviewButtonColor}">
        <ion-icon name="football" [ngStyle]="{'color': streetColor}"></ion-icon>
      </button>
    </ion-fab> -->
  </div>
</ion-content>

<div *ngIf="onClickShow" class="divPlan">

</div>
